body{
    font-family:Comfortaa;font-size: 22px;
    background-color: grey;

}
header
{
    font-family:Comfortaa;font-size: 20px;
    background-color:white;
    clear: both;
    height: 85px;
}
.logo
{
    
    margin-left: 200px;
   

}
.logo img
{
    height: 130px;
    width: 130px;
    float: left;
}
.navbar a
{
   
   color: black;
   text-align: center;
   padding: 20px 20px;
   text-decoration: none;
   float: right;
    
}
a:hover
{
    background-color: greenyellow;
    color: white;
    padding: 20px 20px;
}
.navbar ul
{
    display: inline;list-style-type: none;
}

.banner
{
    margin-top: 30px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.bantext
{
   width: 737px;
   height: 95px;
   padding-left: 10px;
    background-color: white;
    color: green;
    
}
.bannertext h2, .bannertext h3
{
    line-height: 10px;
}

.A
{
    display: flex;
    align-self: center;
    flex-direction: column;
    vertical-align: top;
    line-height: 0;
    height: auto;
}
.sections
{
display: flex;
width: 50%;
margin-top: 10px;
margin-bottom: 10px;
margin-left: auto;
margin-right: auto;
}
.section-a
{
    background-color: white;
    margin-right: 10px;
    font-size: 15px;
    padding: 10px 10px;
    width: 50%;
}

.section-b
{
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
    padding: 10px 10px;
    width: 50%;
}

.section-c
{
    background-color: white;
    margin-left:10px;
    font-size: 15px;
    padding: 10px 10px;
    width: 50%;
   
}
.section-c ul
{
    background-color: white;
    margin:auto
}




    footer
    {
        margin-top: 30px;
        display: flex;
        background-color: rgba(101, 148, 70, 0.849);
        justify-content: center;
        color: white;
        
    }
    footer ul
    {
     list-style-type: none;
     font-size: 18px;
    }

    .footer-block
    {
        margin-right: 20px;
        margin-left: 20px;
    }
